.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f9;
}

.avatar {
    width: 120px; /* Tamanho aumentado para destacar mais */
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover; /* Para garantir que a imagem se ajuste bem */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Efeito de sombra para destacar */
}

.profile .info {
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    width: 100%;
    max-width: 550px; /* Ajuste de largura máxima para dispositivos maiores */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); /* Sombra mais suave */
    transition: all 0.3s ease;
}

.profile .info:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Efeito de hover */
    transform: translateY(-5px); /* Elevação sutil ao passar o mouse */
}

.profile h1 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.profile .actions {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}

.profile .actions .primary {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.profile .actions button {
    background-color: #f44336;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile .actions button:hover {
    background-color: #d32f2f;
}

.profile .actions .primary:hover {
    background-color: #3e8e41;
}

.profile input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 15px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.profile input:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.2);
}

@media (max-width: 768px) {
    .profile .info {
        width: 90%;
    }

    .profile .actions {
        flex-direction: column;
    }
}

.profile-icon {
    width: 40px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 40px;
    margin-right: 10px; /* Espaçamento entre a imagem e o nome */
    vertical-align: middle; /* Alinhamento da imagem ao texto */
    border-radius: 50%; /* Se você quiser a imagem circular */
    object-fit: cover; /* Para garantir que a imagem se ajuste corretamente */
}
